In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as snr

In [7]:
data=pd.read_csv(r"C:\Users\lenovo\Desktop\py\Data Science\b101test\airline.csv.csv")

In [9]:
data.head()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Female,Gender_Male,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction
0,35,971,3,4,5,4,2,3,3,2,...,373,358.0,0,1,1,0,0,1,0,neutral or dissatisfied
1,32,1092,0,0,0,3,1,0,1,1,...,0,0.0,0,1,1,0,0,1,0,satisfied
2,46,2915,0,5,0,5,3,4,5,1,...,0,0.0,1,0,1,0,1,0,0,satisfied
3,56,2556,4,4,4,4,4,4,4,3,...,19,18.0,0,1,1,0,1,0,0,satisfied
4,54,468,1,4,1,4,4,1,4,4,...,0,0.0,0,1,0,1,0,1,0,neutral or dissatisfied

In [11]:
data.isna().sum()

Age                                  0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
Gender_Female                        0
Gender_Male                          0
Type of Travel_Business travel       0
Type of Travel_Personal Travel       0
Class_Business                       0
Class_Eco                            0
Class_Eco Plus                       0
satisfaction                         0
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50761 entries, 0 to 50760
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                50761 non-null  int64
 1   Flight Distance                    50761 non-null  int64
 2   Inflight wifi service              50761 non-null  int64
 3   Departure/Arrival time convenient  50761 non-null  int64
 4   Ease of Online booking             50761 non-null  int64
 5   Gate location                      50761 non-null  int64
 6   Food and drink                     50761 non-null  int64
 7   Online boarding                    50761 non-null  int64
 8   Seat comfort                       50761 non-null  int64
 9   Inflight entertainment             50761 non-null  int64
 10  On-board service                   50761 non-null  int64
 11  Leg room service                   50761 non-null  int64
 12  Baggage handling                   50761 non-null  int64
 13  Checkin service                    50761 non-null  int64
 14  Inflight service                   50761 non-null  int64
 15  Cleanliness                        50761 non-null  int64
 16  Departure Delay in Minutes         50761 non-null  int64
 17  Arrival Delay in Minutes           50761 non-null  float64
 18  Gender_Female                      50761 non-null  int64
 19  Gender_Male                        50761 non-null  int64
 20  Type of Travel_Business travel     50761 non-null  int64
 21  Type of Travel_Personal Travel     50761 non-null  int64
 22  Class_Business                     50761 non-null  int64
 23  Class_Eco                          50761 non-null  int64
 24  Class_Eco Plus                     50761 non-null  int64
 25  satisfaction                       50761 non-null  object
dtypes: float64(1), int64(24), object(1)
memory usage: 10.1+ MB

In [82]:
data['satisfaction']=data['satisfaction'].apply({'satisfied':1,'neutral or dissatisfied':0}.get)

In [84]:
data.head()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Female,Gender_Male,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction
0,35,971,3,4,5,4,2,3,3,2,...,373,358.0,0,1,1,0,0,1,0,None
1,32,1092,0,0,0,3,1,0,1,1,...,0,0.0,0,1,1,0,0,1,0,None
2,46,2915,0,5,0,5,3,4,5,1,...,0,0.0,1,0,1,0,1,0,0,None
3,56,2556,4,4,4,4,4,4,4,3,...,19,18.0,0,1,1,0,1,0,0,None
4,54,468,1,4,1,4,4,1,4,4,...,0,0.0,0,1,0,1,0,1,0,None

In [66]:
x= data.drop(['satisfaction'],axis=1)
y= data['satisfaction']

In [68]:
x.head()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Female,Gender_Male,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus
0,35,971,3,4,5,4,2,3,3,2,...,3,373,358.0,0,1,1,0,0,1,0
1,32,1092,0,0,0,3,1,0,1,1,...,1,0,0.0,0,1,1,0,0,1,0
2,46,2915,0,5,0,5,3,4,5,1,...,3,0,0.0,1,0,1,0,1,0,0
3,56,2556,4,4,4,4,4,4,4,3,...,4,19,18.0,0,1,1,0,1,0,0
4,54,468,1,4,1,4,4,1,4,4,...,4,0,0.0,0,1,0,1,0,1,0

In [70]:
y.head()

0    None
1    None
2    None
3    None
4    None
Name: satisfaction, dtype: object

In [102]:
data.fillna()

ValueError: Must specify a fill 'value' or 'method'.

In [92]:
x=data.drop(['satisfaction'],axis=1)
y=data['satisfaction']

In [94]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8)

In [96]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [98]:
model.fit(x_train,y_train)

ValueError: Input contains NaN.